[rebin]
start_time=20140824000000
stop_time=20140923160000
input_dt_format=%Y%m%d%H%M%S
rule_name=#scotus
rules_file_name=
binning_unit=hours
n_binning_unit=1

[analyze]
model_name=Poisson
#model_name=WeightedDataTemplates

[plot]
plot_title=
plot_file_name=scotus
plot_file_extension=png
plot_dir=.
#logscale_eta=true
use_x_var=false
# custom time range for plotting only
#start_time=
#stop_time=


### model configurations

[Poisson_model]
# "last count" mode: Poisson mean is take from the previous count
mode=lc  
# "averaged mode": Poisson mean taken from average over similiar periods,
# as specified by "period_list" parameter
#mode=a  
# When using mode=a, period_list must be a comma-separated list of 
# Python datetime type attributes.
# Counts will be averaged over time intervals with the same value(s)
# for this attribute or combination of attributes.
period_list=hour
# Poisson confidence interval parameter
alpha=0.99

[WeightedDataTemplates_model]
## NOTE: these parameters must match those used to generate the library
# length of subset of test series to compare to reference series
series_length = 150
# reference library series length
reference_length = 150
# distance parameter for weights
lambda = 0.1
# pickle file containing the Library instance to be used
library_file_name = example/library.pkl
# smoothing parameter
n_smooth = 20
# only 'euclidean' is implemented
distance_measure_name = euclidean
baseline_offset = 40
rebin_factor = 2
num_iterations = 5
num_test_sets = 100
num_ref_sets = 500

